{{>/main/header}}
<template>
    <v-data-table :headers="headers" :items="orgas" class="elevation-1" :footer-props="{'items-per-page-text':'Organizations per page'}">
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Organizations</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on">New Organization</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline"><%formTitle%></span>
            </v-card-title>

            <v-card-text>
              <v-container>
                    <v-text-field v-model="editedItem.name" label="Name"></v-text-field>
                    <v-text-field v-model="editedItem.domain" label="Domain"></v-text-field>
                    <v-text-field v-model="editedItem.aliases" label="Aliases"></v-text-field>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    	<template v-slot:item="props">
    	<tr>
			<td><% props.item.name %></td>
			<td><% props.item.domain %></td>
			<td><% props.item.aliases %></td>
			<td>
			 	<v-icon small @click="editItem(props.item)">edit</v-icon>
				<v-icon small @click="deleteItem(props.item)">delete</v-icon>
			</td>
		</tr>
		</template>
    	<template v-slot:no-data>
        	<v-alert text color="info" border="left">
        		No organization to display
        	</v-alert>
        </template>
    </v-data-table>
</template>
{{>/main/footer}}
{{{vue}}}
